<style type="text/css">

  .star-cb-group {

    unicode-bidi: bidi-override;
    direction: rtl;

  }

  .star-cb-group > input {
    display: none;

  }
  .star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
    font-size: 18px;
  }
  .star-cb-group  > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
  }
  .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #FFCC00;
    text-shadow: 0 0 1px #333;
  }
  .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  .star-cb-group > .star-cb-clear + label:before {
    width: .5em;
  }
  .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
  }
  .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #FFCC00;
    text-shadow: 0 0 1px #333;
  }

</style>

<script type="text/javascript">
<%if(isPartial) { %>
  window.console = window.console || {};
  window.console.log = window.console.log || function(){};
  window.console.warn = window.console.warn || function(){};
  console.log("The embedded form javascript ran just fine", window, document);
<% } %>
  window.validate = function(){

    var name = document.getElementById("osrev-name").value;
    var email = document.getElementById("osrev-email").value;
    var phone = document.getElementById("osrev-tel").value;
    if(name=='' || email=='' || phone=='') {
      alert('Please fill in all fields.')
    }
    else {
      document.getElementById("ratingsForm").submit();

    }


  }

</script>



<form  id="ratingsForm" class=container method=POST action="<%= postback %>" name="ratingsForm" novalidate>


  <input type=hidden name=nonce value="<%= nonce %>">

  <% var rows = questions == null ? 0 : questions.length;
  if(rows == 0) { //no forms %>
  <p>You Have not added any questions to this form</p>
  <%} else { %>
  <% questions.forEach((question, idx)=>{ %>
  <div class=form-group>
    <label class=osrev-all-label><%= question.question %></label>


    <fieldset> 
      <span class="star-cb-group">
        <% var qtype = question.type;

        if(qtype=='range') { 

        for(var i=5; i>0; i--){

        %>
        <input id="rating-<%= question.id%>-<%= i%>" name=rate-<%= question.id%> value="<%= i%>" required class=osrev-staff type=radio value=<%= i%>>
        <label for="rating-<%= question.id%>-<%= i%>"><%= i%></label>

        <%
      }
    } %> </span>
  </fieldset>

  <% 
  if(qtype=='text') {  %>

  <textarea required class=form-control name="<%= question.id%>" id=osrev-comments name=comments></textarea>


  <% } %>

</div>



<%  }) %>

<%  }   %>

<div class=form-group>
  <label for=osrev-name class="osrev-name-label control-label">Name *</label>
  <input type=text required class=form-control id=osrev-name name=name>
</div>

<div class=form-group>
  <label class="osrev-email-label control-label" for=osrev-email>Email Address *</label>
  <input type=email required id=osrev-email class="form-control" name=email required>
</div>

<div class=form-group>
  <label class=osrev-tel-label for=osrev-tel>Phone Number *</label>
  <input type=tel id=osrev-tel class=form-control placeholder="Phone Number" name=phone required>
</div>



<%if(status=="unpublished") { %>
<div class="form-group submit"> 
  <input type=button value="Submit" disabled class="btn btn-primary btn-lg" onclick="validate()">
</div>
<% } else { %>
<div class="form-group submit">
  <input type=button value="Submit" class="btn btn-primary btn-lg" onclick="validate()">
</div>
  <% } %>
</form>
