<style type="text/css">

  .star-cb-group {

    unicode-bidi: bidi-override;
    direction: rtl;

  }

  .star-cb-group > input {
    display: none;

  }
  .star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
    font-size: 18px;
  }
  .star-cb-group  > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
  }
  .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #FFCC00;
    text-shadow: 0 0 1px #333;
  }
  .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  .star-cb-group > .star-cb-clear + label:before {
    width: .5em;
  }
  .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
  }
  .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #FFCC00;
    text-shadow: 0 0 1px #333;
  }

</style>

<script type="text/javascript">
<%if(isPartial) { %>
  window.console = window.console || {};
  window.console.log = window.console.log || function(){};
  window.console.warn = window.console.warn || function(){};
  console.log("The embedded form javascript ran just fine", window, document);
<% } %>
  window.validate = function(){
    console.log("in validate");
    var name = document.getElementById("osrev-name").value;
    var email = document.getElementById("osrev-email").value;
    var phone = document.getElementById("osrev-tel").value;
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; 
    var illegalChars = /^[a-zA-Z\s]+$/;
    var stripped = phone.replace(/[\(\)\.\-\ ]/g, '');
    console.log("Stripped Value",stripped);
    if(name=='' && email=='' && phone=='') {
      document.getElementById('error_name').innerHTML = "Please enter Name.";
      document.getElementById('error_email').innerHTML = "Please enter Email Address.";
      document.getElementById('error_phone').innerHTML = "Please enter Phone Number.";
      return false;
    }
    if(name=="")
    {
      document.getElementById('error_name').innerHTML = "Please enter Name.";
      return false;
    }
    else if(name.length<4)
    {
    document.getElementById('error_name').innerHTML = "Please enter a longer name.";
      return false;
    }
    else if(name.length>50)
    {
    document.getElementById('error_name').innerHTML = "Please enter a shorter name.";
      return false;
    }
    else if(!illegalChars.test(name))
    {
    document.getElementById('error_name').innerHTML = "Only letters are permitted here.";
      return false;

    }
    else
    {
      document.getElementById('error_name').innerHTML = "";
    }
    if(email=="" || !re.test(email))
    {
      document.getElementById('error_email').innerHTML = "Please enter a Valid Email.";
      return false;
    }
    else
    {
      document.getElementById('error_email').innerHTML = "";
    }
    if(phone=="" || isNaN(parseInt(stripped)))
    {
      document.getElementById('error_phone').innerHTML = "Please enter a valid Phone Number.";
      return false;
    }
    else if((stripped.length != 10))
    {
      document.getElementById('error_phone').innerHTML = "Phone Number Length should be 10 numbers.";
      return false;
    }
    else
    {
      document.getElementById('error_phone').innerHTML = "";
    }
    return true;
  }
</script>

<% if(error!="") { %>
        <div style="color:red">
        <ul>
            <li><%- error %></li>
        </ul>
    </div>
        <%} %>

<form  id="ratingsForm" class=container method=POST action="<%= postback %>" name="ratingsForm" onsubmit="return validate()" novalidate>


  <input type=hidden name=nonce value="<%= nonce %>">

  <% var rows = questions == null ? 0 : questions.length;
  if(rows == 0) { //no forms %>
  <p>You Have not added any questions to this form</p>
  <%} else { %>
  <% questions.forEach((question, idx)=>{ %>
  <div class=form-group>
    <label class=osrev-all-label><%= question.question %></label>


    <fieldset> 
      <span class="star-cb-group">
        <% var qtype = question.type;

        if(qtype=='range') { 

        for(var i=5; i>0; i--){

        %>
        <input id="rating-<%= question.id%>-<%= i%>" name=rate-<%= question.id%> value="<%= i%>" required class=osrev-staff type=radio value=<%= i%>>
        <label for="rating-<%= question.id%>-<%= i%>"><%= i%></label>

        <%
      }
    } %> </span>
  </fieldset>

  <% 
  if(qtype=='text') {  %>

  <textarea maxlength="5000" required class=form-control name="<%= question.id%>" id=osrev-comments name=comments></textarea>
  <div id=char_limit style:""><i>Maximum limit 5000 characters.</i></div>

  <% } %>

</div>



<%  }) %>

<%  }   %>

<div class=form-group>
  <label for=osrev-name class="osrev-name-label control-label">Name *</label>
  <input type=text required class=form-control id=osrev-name name=name>
  <div id=error_name name=error style="color:red"></div>
</div>

<div class=form-group>
  <label class="osrev-email-label control-label" for=osrev-email>Email Address *</label>
  <input type=email required id=osrev-email class="form-control" name=email required>
  <div id=error_email name=error style="color:red"></div>
</div>

<div class=form-group>
  <label class=osrev-tel-label for=osrev-tel>Phone Number *</label>
  <input type=tel id=osrev-tel class=form-control placeholder="Phone Number" name=phone required>
  <div id=error_phone name=error style="color:red"></div>
</div>



<%if(status=="unpublished") { %>
<div class="form-group submit"> 
  <input type=submit value="Submit" disabled class="btn btn-primary btn-lg">
</div>
<% } else { %>
<div class="form-group submit">
  <input type=submit value="Submit" class="btn btn-primary btn-lg">
</div>
  <% } %>
</form>
