
    
    <div class="cover-logo">
      <h1>
              <img class="logo-giant" src="<%= process.env.CDN %>/img/guardian.png" alt="Guardian Review Software">
      </h1>
    </div>
    <div id="sliderFrame">
        <div id="slider">
            <img src="<%= process.env.CDN %>/imgtemp/image-slider-1.jpg" />
            <img src="<%= process.env.CDN %>/imgtemp/image-slider-2.jpg" />
            <img src="<%= process.env.CDN %>/imgtemp/image-slider-3.jpg" />
            <img src="<%= process.env.CDN %>/imgtemp/image-slider-4.jpg" />
            <img src="<%= process.env.CDN %>/imgtemp/image-slider-5.jpg" />
        </div>
    </div>

    <hr class="featured-divider">


    <div class="row row-eq-height featured-block">
      <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="panel steps">
        <div class="panel-heading h2 orange">Function. <span class="text-muted">Real Reviews</span></div>
        <div class="panel-body">
          <p class="lead">Are you tired of Yelp “not recommending” your real reviews?
                        Worried about a troublesome patient venting online? Guardian Review Software
                        is designed to help you collect, filter, and promote the reviews
                        that represent your high-quality service and amenities. Our Review
                        Software easily attaches to your website while giving you the insights you need. </p>
        </div>
      </div>




        <!--<h2 class="featured">Function. <span class="text-muted">Real Reviews</span></h2>
        <p class="lead">Are you tired of Yelp “not recommending” your real reviews?
                        Worried about a troublesome patient venting online? Guardian Review Software
                        is designed to help you collect, filter, and promote the reviews
                        that represent your high-quality service and amenities. Our Review
                        Software easily attaches to your website while giving you the insights you need. </p>-->
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <img class="featured-icons" src="<%= process.env.CDN %>/img/clipboard_small.png">

      </div>
    </div>
    <hr class="featured-divider">
    <div class="row row-eq-height featured-block">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <img class="featured-icons" src="<%= process.env.CDN %>/img/computer_small.png">

      </div>
      <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="panel steps">
        <div class="panel-heading h2 green">Insight. <span class="text-muted">Review Forms and Responses</span></div>
        <div class="panel-body">
          <p class="lead">We have one goal: to help you promote your facility with real, authentic, positive reviews. We help you collect and filter reviews so you can decide which ones you want to publish, respond to, or decline to publish. </p>
        </div>
      </div>



        <!--<h2 class="featured">Insight. <span class="text-muted">Review Forms and Responses</span></h2>
        <p class="lead">We have one goal: to help you promote your facility with real, authentic, positive reviews. We help you collect and filter reviews so you can decide which ones you want to publish, respond to, or decline to publish. </p>-->
      </div>
    </div>
    <hr class="featured-divider">
    <div class="row row-eq-height featured-block">
      <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="panel steps">
        <div class="panel-heading h2 blue">Features. <span class="text-muted">All in a Widget</span></div>
        <div class="panel-body">
          <p class="lead">Embeddable review widget, approval of comments, and display of customer reviews. Sign up now.</p>
        </div>
      </div>



        <!--<h2 class="featured">Features. <span class="text-muted">All in a Widget</span></h2>
        <p class="lead">Embeddable review widget, approval of comments, and display of customer reviews. Sign up now.</p>-->
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <img class="featured-icons" src="<%= process.env.CDN %>/img/gear_small.png">

      </div>
    </div>
    <hr class="featured-divider">

    <link href="<%= process.env.CDN %>/css/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="<%= process.env.CDN %>/js/js-image-slider.js" type="text/javascript"></script>
