<!doctype html>
<html>
<head>
  <link rel=stylesheet type=text/css href="<%= url %>/css/review-box.css">
</head>
<body>
<section id=review-box>
  <header>
    <h1><%= facility %></h1>
    <% if(average !== null) { %>
    <p><span class=score><span class=score-average><%= average %></span>/<%= max %></span> recommend</p>
    <% } %>
  </header>
  <%  if(reviews && reviews.length) { %>
    <ul>
      <% reviews.forEach((r)=>{ 
        if(r.is_hide == "show_label") { %>
          <li>
          
          <%= r.question %>
         <% if(r.type=="text") { %> 
          <ul><li>
          <%=
            r.textval.split(" ").splice(0,maxlength).join(" "); 
          %>
          <%if( r.textval.split(' ').length > maxlength) { %> 
              &hellip; 
            <% } 
            %></li></ul>
      <% } else{%>
        <ul><li>
        <%= r.rateval %>
        </li></ul>
     <% }}}); %>
   </li> </ul>
  <% } else { %>
  <p>No reviews yet!</p>
  <% } %>
