<!doctype html>
<html>
<head>
  <link rel=stylesheet type=text/css href="<%= url %>/css/review-box.css">
</head>
<body>
<section id=review-box>
  <header>
    <h1><%= facility %></h1>
    <% if(average !== null) { %>
    <p><span class=score><span class=score-average><%= average %></span>/<%= max %></span> recommend</p>
    <% } %>
  </header>
  <%  if(reviews && reviews.length) { %>
    <ul>
      <% reviews.forEach((r)=>{ 
        if(r.is_hide == "show_label") { %>
          <li>
          
          <q><%= r.question %></q>
         <% if(r.type=="text") { %> 
          <ul><li>
          <q><%=
            r.textval.split(" ").splice(0,maxlength).join(" "); 
          %></q>
          <%if( r.textval.split(' ').length > maxlength) { %> 
              &hellip; 
            <% } 
            %></li></ul>
      <% } else{%>
        <ul><li>
        <% 
        for(var i=0; i<r.rateval; i++){

        %>
        <span class="star">&#9733;</span>
        <%
      }
     %> 
        </li></ul>
     <% }}else{ %>
      <li>
      <% if(r.type=="text") { %> 
        <q>  <%=
            r.textval.split(" ").splice(0,maxlength).join(" "); 
          %></q>
          <%if( r.textval.split(' ').length > maxlength) { %> 
              &hellip; 
            <% } 
            %>
      <% } else{%>
      <% 
        for(var i=0; i<r.rateval; i++){

        %>
       <span class="star"> &#9733;</span>
        <%
      }
     %> 
        
     <% } %>
     <%}}); %>
   </li> </ul>
  <% } else { %>
  <p>No reviews yet!</p>
  <% } %>
