<%
if(newForm == false) {
  facilityName = existingForm.facility;
  yelpURL = existingForm.yelp;
  googleURL = existingForm.google_plus;
  allowed_origins = existingForm.allowed_origins;
  locations = existingForm.locations;
  redirect_url = existingForm.redirect_url;
  type = existingForm.type;
  button = "save"

  if(allowed_origins.length > 0){
    if(allowed_origins[0].indexOf("null//null") != -1) {
      allowed_origins = "";
    }
    console.log(typeof allowed_origins);
    allowed_origins = allowed_origins.replace("[",'').replace("]",''); //remove brackets
  }
  else {
    allowed_origins = "";
  }

}else {
  facilityName = "";
  yelpURL = "";
  googleURL = "";
  allowed_origins = "";;
  redirect_url = "";
  type = "";
  button = "proceed";
}
%>

 <script type="text/javascript">
 function validate()
      {
        var re = /^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;
          var yelp = document.getElementById('inputYelp').value;
          var google = document.getElementById('inputGooglePlus').value;
          var page_form = document.getElementById('inputPageWithForm').value;
          var redirect = document.getElementById('inputRedirectURL').value;
         if( document.myForm.facility.value == "" )
         {
            document.getElementById('error_facility').innerHTML = "Please enter Facility.";
            document.myForm.facility.focus() ;
            return false;
         }
         else
         {
          document.getElementById('error_facility').innerHTML = "";
         }
         if(yelp != "" && !re.test(yelp))
         {
          document.getElementById('error_yelp').innerHTML = "Please enter a valid Url.";
          return false;
         }
         else
         {
          document.getElementById('error_yelp').innerHTML = "";
         }
         if(google != "" && !re.test(google))
         {
          document.getElementById('error_google').innerHTML = "Please enter a valid Url.";
          return false;
         }
         else
         {
          document.getElementById('error_google').innerHTML = "";
         }
         if(page_form != "" && !re.test(page_form))
         {
          document.getElementById('error_form').innerHTML = "Please enter a valid Url.";
          return false;
         }
         else
         {
          document.getElementById('error_form').innerHTML = "";
         }
         if(redirect != "" && !re.test(redirect))
         {
          document.getElementById('error_redirect').innerHTML = "Please enter a valid Url.";
          return false;
         }
         else
         {
          document.getElementById('error_redirect').innerHTML = "";
         }
         return( true );
       }
</script>

<div class="page-header">
  <h1>Create a New Form</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="panel">
      <div class="panel-heading h2 blue">New Form</div>
      <div class="panel-body">
      <% if(button == "proceed") { %>

       <form class="form-horizontal" action="/form/new" name="myForm" method="post" onsubmit="return validate()" novalidate >
      <% } else { %>
        <form class="form-horizontal" method="post" name="myForm" onsubmit="return validate()" novalidate >
      <% } %>
      <% if (message.length > 0) { %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
        <% } %>
          <div class="form-group">
            <label for="inputFacility" class="col-sm-2 control-label">Facility</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputFacility" name="facility" placeholder="Example Inc." required value="<%= facilityName %>">
              <div id=error_facility name=error style="color:red"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputYelp" class="col-sm-2 control-label">Yelp</label>
            <div class="input-group col-sm-10">
              <span class="input-group-addon"><i class="fa fa-yelp"></i></span>
              <input type="text" class="form-control" id="inputYelp" name="yelp" placeholder="Yelp URL" value="<%= yelpURL %>">
            </div>
           <label class="col-sm-2 control-label"></label><div class="input-group col-sm-10">  <div id=error_yelp name=error style="color:red"></div></div>
          </div>
          <div class="form-group">
            <label for="inputGooglePlus" class="col-sm-2 control-label">Google Plus</label>
            <div class="input-group col-sm-10">
              <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
              <input type="text" class="form-control" id="inputGooglePlus" name="google_plus" placeholder="Google Plus URL" value="<%= googleURL %>">
            </div>
            <label class="col-sm-2 control-label"></label><div class="input-group col-sm-10">  <div id=error_google name=error style="color:red"></div></div>
          </div>
          <div id="advanced-section" class="collapse">
            <div class="form-group">
              <label for="inputPageWithForm" class="col-sm-2 control-label">Form Location</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPageWithForm" name="allowed_origins[]" placeholder="http://www.example.com/feedback" value="<%= allowed_origins %>">
                <div id=error_form name=error style="color:red"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputRedirectURL" class="col-sm-2 control-label">Redirect URL</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputRedirectURL" name="redirect_url" placeholder="http://www.example.com/thanks" value="<%= redirect_url %>">
              <div id=error_redirect name=error style="color:red"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <label class="radio-inline">
                  <input type="radio" name="type" id="inputShortStay" value="shortStay" <%- (type=="shortStay" || type=="") ? "checked" : "" %>> Short-term patient
                </label>
                <label class="radio-inline">
                  <input type="radio" name="type" id="inputShortStay" value="standard" <%- type=="standard" ? "checked" : "" %>> Long-term resident
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="col-sm-3">
              <% if(button == "proceed") { %>
                <button type="submit" class="btn btn-primary btn-lg">Proceed to Form Builder</button>
              <% } else if(button == "save") { %>
                <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
              <% } %>
              </div>
              <div class="col-sm-4">
                <a type="button" href="/dashboard" class="btn btn-cancel btn-lg">Cancel</a>
              </div>
              <div class="col-sm-2">
                <!--<button onclick="return false;" data-toggle="collapse" data-target="#advanced-section" class="btn btn-second-primary btn-lg pull-right">Advanced Settings</button>--> 
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
